body {
  background-image: url('map.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

/**************************
         Squares
**************************/
.square {
  height:100px;
  width:100px;
  background-color:#CCE6FF;
  border-radius:5px;
  padding: 5px;
  margin: 5px;
}

/**************************
      Player Image
**************************/

#mario {
  position: absolute;
  width: 80px;
  height: 80px;
}

#sq1 {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1;
}

#sq2 {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: -1;
}
