
/**************************
         Squares
**************************/
.square {
    height:100px;
    width:100px;
    background-color:#FF0000;
    border-radius:5px;
    background-color:#4444DD;
    padding: 5px;
    margin: 5px;
}

/**************************
      Player Image
**************************/

#mario {
 position: absolute;
 margin: 0px;
 margin-left: 0;
}
