<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Makopolis</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <!-- <img id='mario' src="sonic.svg.png"/> -->
  <!-- Behold the squares!! -->
  <div class="square" id="sq1"></div>
  <div class="square" id="sq2"></div>
  <div class="square" id="sq3"></div>
  <div class="square" id="sq4"></div>
  <div class="square" id="sq5"></div>
  <div class="square" id="sq6"></div>
  <div class="square" id="sq7"></div>
  <div class="square" id="sq8"></div>
  <div class="square" id="sq9"></div>
  <div class="square" id="sq10"></div>
  <div class="square" id="sq11"></div>
  <div class="square" id="sq12"></div>
  <div class="square" id="sq13"></div>
  <div class="square" id="sq14"></div>
  <div class="square" id="sq15"></div>
  <div class="square" id="sq16"></div>
  <div class="square" id="sq17"></div>
  <div class="square" id="sq18"></div>
  <!-- End of squares -->

    <ul id="question-answers">
      <h3 id="question-text"></h3>
        <li><input type="button" class="qs" id="answer1" name="a1" value=""></li>
        <li><input type="button" class="qs" id="answer2" name="a2" value=""></li>
        <li><input type="button" class="qs" id="answer3" name="a3" value=""></li>
        <li><input type="button" class="qs" id="answer4" name="a4" value=""></li>
    </ul>

  <div id="dice-container">
    <div id="dice">Dice</div>
  </div>

  <!-- Our javascripts -->
  <script type="text/javascript" src="../jquery.js"></script>
  <script type="text/javascript" src="../jquery.crSpline.js"></script>
  <!-- Added socket js file and script for connecting (only) locally-->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var playerID;
    var players = { };
    
    // join event
    socket.on('newPlayer', function (obj) {
      var newPlayerId = obj.data;
      createPlayerElement(newPlayerId);
      players[newPlayerId] = new Player(newPlayerId);
    });

    socket.on('playerId', function (obj) {
      console.log("playerId" + obj);
      playerID = obj.data;

      createPlayerElement(playerID);
      initialize(playerID,socket);
    });
    
    // player plays, everyone syncs
    socket.on('syncClientSide',function(obj){
      console.log(obj);
      var player = players[obj.data];
      player.move(obj.steps);
    });

    // player left game
    socket.on('playerOut', function(data){
      console.log("Disconnected user " + data.userID);
      delete players[data.userID];
      remove(data.userID);
    });

    socket.on('existingPlayers', function(playersList){
      console.log("Updating existing players"+playersList);

      for (var p in playersList) {
        if (playersList.hasOwnProperty(p)) {
            var steps = playersList[p];

            createPlayerElement(p);
            players[p] = new Player(p);

            if (steps > 1)
            {
              console.log("steps" + steps);
              players[p].move(steps);
            }
        }
      } 
    });

    function createPlayerElement(id){
      var element = document.createElement('img');
      element.src="sonic.svg.png";
      element.id = id;
      element.className = "player";
      document.body.insertBefore(element, document.body.firstChild);
    }

    function remove(id)
    {
      return (elem=document.getElementById(id)).parentNode.removeChild(elem);
    }

  </script>
  <script type="text/javascript" src="../js/dice.js"></script>
  <script type="text/javascript" src="../js/bank.js"></script>
  <script type="text/javascript" src="../js/player.js"></script> 
  <script type="text/javascript" src="../js/interface.js"></script> 

</body>
</html>