<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Makopolis</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <img id='mario' src="sonic.svg.png"/>
  <!-- Behold the squares!! -->
  <div class="square" id="sq1"></div>
  <div class="square" id="sq2"></div>
  <div class="square" id="sq3"></div>
  <div class="square" id="sq4"></div>
  <div class="square" id="sq5"></div>
  <div class="square" id="sq6"></div>
  <div class="square" id="sq7"></div>
  <div class="square" id="sq8"></div>
  <div class="square" id="sq9"></div>
  <div class="square" id="sq10"></div>
  <div class="square" id="sq11"></div>
  <div class="square" id="sq12"></div>
  <div class="square" id="sq13"></div>
  <div class="square" id="sq14"></div>
  <div class="square" id="sq15"></div>
  <div class="square" id="sq16"></div>
  <div class="square" id="sq17"></div>
  <div class="square" id="sq18"></div>
  <!-- End of squares -->

    <ul id="question-answers">
      <h3 id="question-text"></h3>
        <li><input type="button" class="qs" id="answer1" name="a1" value=""></li>
        <li><input type="button" class="qs" id="answer2" name="a2" value=""></li>
        <li><input type="button" class="qs" id="answer3" name="a3" value=""></li>
        <li><input type="button" class="qs" id="answer4" name="a4" value=""></li>
    </ul>

  <div id="dice-container">
    <div id="dice">Dice</div>
  </div>

  <!-- Our javascripts -->
  <script type="text/javascript" src="../jquery.js"></script>
  <script type="text/javascript" src="../jquery.crSpline.js"></script>
  <!-- Added socket js file and script for connecting (only) locally-->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // heroku:
    // var socket = io.connect('https://makopolis.herokuapp.com:443');
    // not heroku:
    var socket = io();
  </script>
  <script type="text/javascript" src="../js/dice.js"></script>
  <script type="text/javascript" src="../js/bank.js"></script>
  <script type="text/javascript" src="../js/interface.js"></script> 

</body>
</html>