body {
  background-image: url('mapStreet.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #66A3FF;
}

/**************************
      Player Image
**************************/

.player {
  position: absolute;
  width: 80px;
  height: 80px;
}

/**************************
        Squares
**************************/

.square {
  height:80px;
  width:80px;
  border-radius:5px;
  padding: 5px;
  margin: 5px;
}

#sq1 {
  position: absolute;
  background-color:  #74FF70;
  top: 82%;
  left: 0%;
  z-index: -1;
}

#sq2 {
  position: absolute;
  background-color:#74FF70;
  top: 82%;
  left: 10%;
  z-index: -1;
}

#sq3 {
  position: absolute;
  background-color:#74FF70;
  top: 82%;
  left: 20%;
  z-index: -1;
}

#sq4 {
  position: absolute;
  background-color:#74FF70;
  top: 82%;
  left: 30%;
  z-index: -1;
}

#sq5 {
  position: absolute;
  background-color:#74FF70;
  top: 82%;
  left: 40%;
  z-index: -1;
}

#sq6 {
  position: absolute;
  background-color:#74FF70;
  top: 82%;
  left: 50%;
  z-index: -1;
}

#sq7 {
  position: absolute;
  background-color: #74FF70;
  top: 77%;
  left: 60%;
  z-index: -1;
}

#sq8 {
  position: absolute;
  background-color:#74FF70;
  top: 70%;
  left: 70%;
  z-index: -1;
}


#sq9 {
  position: absolute;
  background-color:#74FF70;
  top: 50%;
  left: 65%;
  z-index: -1;
}

#sq10 {
  position: absolute;
  background-color:#74FF70;
  top: 40%;
  left: 50%;
  z-index: -1;
}

#sq11 {
  position: absolute;
  background-color:#74FF70;
  top: 40%;
  left: 40%;
  z-index: -1;
}

#sq12 {
  position: absolute;
  background-color:#74FF70;
  top: 39%;
  left: 30%;
  z-index: -1;
}

#sq13 {
  position: absolute;
  background-color:#74FF70;
  top: 38%;
  left: 20%;
  z-index: -1;
}

#sq14 {
  position: absolute;
  background-color:#74FF70;
  top: 37%;
  left: 10%;
  z-index: -1;
}

#sq15 {
  position: absolute;
  background-color:#74FF70;
  top: 30%;
  left: 1%;
  z-index: -1;
}

#sq16 {
  position: absolute;
  background-color:#74FF70;
  top: 7%;
  left: 10%;
  z-index: -1;
}

#sq17 {
  position: absolute;
  background-color:#74FF70;
  top: 5%;
  left: 25%;
  z-index: -1;
}

#sq18 {
  position: absolute;
  background-color:#74FF70;
  top: 3%;
  left: 40%;
  z-index: -1;
}

/**************************
      Question Box
**************************/

#question-answers {
  position: fixed;
  bottom: 6.5em;
  right: 0;
  width: 18em;
  height: 24em;
  background-color: #ffffc2;
  /*margin-right: 5em;*/
	display: block;
	max-width: 20%;
	border: solid #99EBD3 1.2em;
  border-radius: 2em;
	display: none;
  /*text-align: center;*/
  list-style: none;
}

#dice-container {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 6em;
  height: 6em;
  line-height: 6em;
  background-color: #D63333;
  border: solid #D63333 3px;
  border-radius: 2em;
}

#dice {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
