body {
  background-image: url('mapStreet.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #66A3FF;
}

/**************************
      Player Image
**************************/

#mario {
  position: absolute;
  width: 80px;
  height: 80px;
}

#endBanner {
  position: absolute;
  top: -400px;
  left: -400px;
  width: 400px;
  height: 400px;
}

/**************************
        Squares
**************************/

square {
  height:80px;
  width:80px;
  border-radius:5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  /*if you want to see the squares:*/
  /*background-color:  #74FF70;*/
}

h3 {
  font-family: "Georgia","Times New Roman";
}

#sq1 {
  position: absolute;
  top: 86%;
  left: 0%;
  z-index: -1;
}

#sq2 {
  position: absolute;
  top: 86%;
  left: 10%;
  z-index: -1;
}

#sq3 {
  position: absolute;
  top: 86%;
  left: 20%;
  z-index: -1;
}

#sq4 {
  position: absolute;
  top: 86%;
  left: 30%;
  z-index: -1;
}

#sq5 {
  position: absolute;
  top: 86%;
  left: 40%;
  z-index: -1;
}

#sq6 {
  position: absolute;
  top: 86%;
  left: 50%;
  z-index: -1;
}

#sq7 {
  position: absolute;
  top: 83%;
  left: 62%;
  z-index: -1;
}

#sq8 {
  position: absolute;
  top: 67%;
  left: 62%;
  z-index: -1;
}


#sq9 {
  position: absolute;
  top: 65%;
  left: 55%;
  z-index: -1;
}

#sq10 {
  position: absolute;
  top: 65%;
  left: 45%;
  z-index: -1;
}

#sq11 {
  position: absolute;
  top: 65%;
  left: 37%;
  z-index: -1;
}

#sq12 {
  position: absolute;
  top: 50%;
  left:  37%;
  z-index: -1;
}

#sq13 {
  position: absolute;
  top: 45%;
  left: 30%;
  z-index: -1;
}

#sq14 {
  position: absolute;
  top: 45%;
  left: 20%;
  z-index: -1;
}

#sq15 {
  position: absolute;
  top: 45%;
  left: 10%;
  z-index: -1;
}

#sq16 {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: -1;
}

#sq17 {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: -1;
}

#sq18 {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: -1;
}

#sq19 {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: -1;
}

#sq20 {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: -1;
}

#sq21 {
  position: absolute;
  top: 30%;
  left: 60%;
  z-index: -1;
}
/**************************
      Question Box
**************************/

#question-answers {
  position: fixed;
  bottom: 6.5em;
  right: 0;
  width: 18em;
  height: 24em;
  background-color: #ffffc2;
	display: block;
	max-width: 20%;
	border: solid #99EBD3 1.2em;
  border-radius: 2em;
	display: none;
  list-style: none;
}

#dice-container {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 6em;
  height: 6em;
  line-height: 6em;
  background-color: #FF83AC;
  border: solid #FF83AC 3px;
  border-radius: 2em;
}

#dice {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
